.Invoices {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.Search-Sort-Container {
  margin: 15px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Search,
.Sort {
  width: 250px;
}

.Search span,
.Sort span {
  padding-right: 5px;
}
